<div class="dummy-phone">
  <div class="screen-shot">
    <div class="carousel carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "shot1.jpg", height: '600', width: '600' %>
        </div>
        <div class="carousel-item">
          <%= image_tag "shot2.jpg", height: '600', width: '600' %>
        </div>
        <div class="carousel-item">
          <%= image_tag "shot1.jpg", height: '600', width: '600' %>
        </div>
        <div class="carousel-item">
          <%= image_tag "shot2.jpg", height: '600', width: '600' %>
        </div>
        <div class="carousel-item">
          <%= image_tag "shot1.jpg", height: '600', width: '600' %>
        </div>
        <div class="carousel-item">
          <%= image_tag "shot2.jpg", height: '600', width: '600' %>
        </div>
      </div>
    </div>
  </div>
</div>
